<div class="chat-header">
  <div class="left-header">
    <div class="header-title">hogehuga</div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="messages">
  <div class="message">
    <div class="message-top">
      <div class="message-name">Tom</div>
      <div class="message-time">2023/5/26(Fry)20:00</div>
    </div>
    <div class="message-bottom">
      <div class="message-text">おはよう</div>
    </div>
  </div>
  <div class="message">
    <div class="message-top">
      <div class="message-name">Sim</div>
      <div class="message-time">2023/5/26(Fry)21:00</div>
    </div>
    <div class="message-bottom">
      <div class="message-text">にゃー</div>
    </div>
  </div>
</div>

<div class="form">
  <div class="form-input">
    <input class="form-message" placdholder="type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
    <input class="form-submit" type="submit" value="送信">
</div>
